.fondo {
    background-image: url("img/Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.todo {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: -150px;
    margin-bottom: 15px;
}

.titulo {
    color: rgb(255, 255, 255) !important;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
}

.subtitulo {
    color: rgb(255, 255, 255) !important;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: 200px;
}

.btn {
    margin-top: 50px;
}

.btn_face {
    background-color: #0066FF !important;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    width: 600px;
    height: 90px;
    border-radius: 6px;
    border-style: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    ;
}

.btn_inst {
    background-color: #FF3434 !important;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    width: 600px;
    height: 90px;
    border-radius: 6px;
    border-style: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 60px;
}


/*
.btn_pagi {
    background-color: #02a89e !important;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    width: 600px;
    height: 90px;
    border-radius: 6px;
    border-style: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 70px;
}
*/

@media screen and (max-width: 975px) {
    .logo {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .titulo {
        font-size: 24px;
        margin-top: 24px;
    }
    .subtitulo {
        font-size: 16px;
    }
    .btn {
        margin-top: 150px;
    }
    .btn_face {
        font-size: 24px;
        line-height: 35px;
        width: 250px;
        height: 60px;
    }
    .btn_inst {
        font-size: 24px;
        line-height: 24px;
        width: 250px;
        height: 60px;
    }
    /* .btn_pagi {
        font-size: 24px;
        line-height: 24px;
        width: 250px;
        height: 60px;
    }*/
}

@media screen and (max-width: 414px) {
    .titulo {
        font-size: 20px;
        margin-top: 24px;
    }
    .subtitulo {
        font-size: 14px;
    }
    .btn {
        margin-top: 100px;
    }
    .btn_face {
        font-size: 24px;
        height: 60px;
        width: 250px;
    }
    .btn_inst {
        font-size: 24px;
        line-height: 24px;
        height: 60px;
        width: 250px;
    }
    /* .pagi {
        font-size: 24px;
        line-height: 24px;
        height: 60px;
        width: 250px;
    }*/
}

@media screen and (max-width: 375px) {
    .fondo {
        background-image: url("img/Fondo.png");
    }
    .titulo {
        font-size: 16px;
        margin-top: 16px;
    }
    .subtitulo {
        font-size: 10px;
    }
    .btn {
        margin-top: 10px;
    }
    .btn_face {
        font-size: 22px;
        line-height: 35px;
        width: 200px;
        height: 55px;
    }
    .btn_inst {
        font-size: 22px;
        line-height: 24px;
        width: 200px;
        height: 55px;
    }
    /*  .btn_pagi {
        font-size: 22px;
        line-height: 24px;
        width: 200px;
        height: 55px;
    }*/
}

@media screen and (max-width: 320px) {
    .titulo {
        font-size: 16px;
        margin-top: 24px;
    }
    .subtitulo {
        font-size: 10px;
    }
    .btn {
        margin-top: 100px;
    }
    .btn_face {
        font-size: 20px;
        line-height: 35px;
        width: 200px;
        height: 50px;
    }
    .btn_inst {
        font-size: 20px;
        line-height: 24px;
        width: 200px;
        height: 50px;
    }
    /* .btn_pagi {
        font-size: 20px;
        line-height: 24px;
        width: 200px;
        height: 50px;
    }*/
}


/***********************************************/


/*  Autor: Esteban Artigas                     */


/*  Contacto: +569 84063755                    */


/*  Correo: artigas282@gmail.com               */


/*  Fecha: 16/03/2021                          */


/***********************************************/